[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jainpranamya
[access "refs/for/refs/*"]
	read = group user/jainpranamya
	push = group user/jainpranamya
	label-Code-Review = -2..+2 group user/jainpranamya
	label-Verified = -1..+1 group user/jainpranamya
	rebase = group user/jainpranamya
	removeReviewer = group user/jainpranamya
	submit = group user/jainpranamya
[access "refs/heads/*"]
	read = group user/jainpranamya
	create = group user/jainpranamya
	push = +force group user/jainpranamya
	pushMerge = group user/jainpranamya
[access "refs/tags/*"]
	push = group user/jainpranamya
	push = +force group user/jainpranamya
